@charset "UTF-8";
/* CSS Document */
td{font-size: 12px}

td img{
	border: 0;
}

.Center{
	text-align: center;
}

a:link{
	color: #000;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	color: #00F;
	text-decoration: underline;
}